<div class="dashboard">

  <div class="sidebar">
    <div>
        <h1 class="name"><%= link_to "My Lists", lists_path, :class => current_class?(lists_path)  %></h1>
        <h1 class="name"><%= link_to "Activity Feed", activity_path, :class => current_class?(activity_path)  %></h1>
    </div>
    <div>
      <h1 class="name"><%= link_to "Archive", archive_path, :class => current_class?(archive_path)  %></h1>
    </div>
  </div>
  <div class="content-dashboard fixed-top">
    <div class="dashboard-grid-header-wrapper">
      <div class="dashboard-grid-header">
        <div class="breadcrumb">
        <span font-weight="semiBold" class="dashboard-title">My Lists of Flashcards</span>
        </div>

      </div>
    </div>

    <div class="rightPanel">
      <div class="right-control-panel">
        <div class="rightPanel-buttons">
          <div id="loom-dashboard-record-button">
            <%= link_to "Add A New List", new_list_path, class: 'button-new-list' %>
          </div>
         </div>
        </div>
    </div>
    <div class="grid-wrapper">
      <div class="list-grid">
        <div class="list-grid-header">
          <span class="list-header">All Lists</span>
        </div>
        <div class="list-grid-container">
          <div class="d-flex flex-wrap flex-row align-items-center mt-4">
            <% @lists.each do |list| %>
            <div class="list-card d-flex flex-row align-items-center justify-content-around">
              <span class="list-play-icon">
                <i class="material-icons play-icon">
                play_circle_outline
                </i>
              </span>
              <div class="d-flex flex-row align-items-left flex-grow list-elements">
                <span>
                  <%= list.title %>
                </span>
<!--                 <span>
                  <%= list.created_at.to_date %>

                </span>
 -->
              </div>
              <%= button_to list_path(list), method: :delete, data: { confirm: "Are you sure?" }, class:"garbage-bin" do %>
                  <i class="material-icons">
                  delete
                  </i>
              <% end %>


            </div>

        <% end %>
          </div>


          </div>
      </div>
    </div>
  </div>

</div>




