<div class="container">

  <h3>Edit Your Flashcard</h3>
  <%= simple_form_for [@flashcard] do |f| %>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.input :answer %>
    <%= f.file_field :photo, direct_upload: :true %>
    <%= f.input :solution %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>

</div>
