
    <div class="container">
      <div class="row signup">
      <div class="col-sm-6 d-flex flex-column left-signup align-items-center justify-content-center">
        <div class="container-signup">

          <h2 class="form-header">Welcome</h2>
          <p class="form-description">Create Your Geeky Account</p>

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :avatar,
                          required: false,
                          autofocus: true,
                          placeholder: "Your Picture",
                          class: 'form-labels'%>
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          placeholder: "e.g. john@doe.com",
                          input_html: { autocomplete: "email" },
                          class: 'form-labels'%>
              <%= f.input :password,
                          required: true,
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          placeholder: '123456',
                          input_html: { autocomplete: "new-password" },
                          class: 'form-labels' %>
              <%= f.input :password_confirmation,
                          required: true,
                          input_html: { autocomplete: "new-password" },
                          class: 'form-labels' %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Let's Go >", class: 'log-button' %>
            </div>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>

      <div class="col-sm-6 d-flex justify-content-center align-items-center illustration-signup">
          <%= image_tag "signup.svg", class: "image-signup" %>
      </div>
    </div>
  </div>
