<div class="container-navbar">

  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "kard.svg" %>
      <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto  d-flex align-items-center">
        <li class="nav-item active">
          <% unless devise_controller? || controller_name == 'pages' || controller_name == 'lists' && action_name == 'show'%>
              <div class="form-inline">

                <%= form_tag lists_path, method: :get do %>
                  <%= text_field_tag :query,
                    params[:query],
                    class: "form-control",
                    placeholder: "Find a list"
                  %>
                  <%= submit_tag "Search", class: "btn btn-primary" %>
                <% end %>
              </div>
          <% end %>
        </li>
    <% if user_signed_in? %>
      <li class="nav-item active">
          <%= link_to "Pricing", root_path, class: "bouton-text-nav"%>
      </li>
    <% end %>
        <li class="nav-item active">
          <% if user_signed_in? %>
            <%# unless controller_name == 'lists' && action_name == 'index' %>
              <%= link_to "My Lists", lists_path, class: 'bouton-text-nav'  %>
            <%# end %>
          <% else %>
            <%= link_to "Sign Up", new_user_registration_path, class: 'black-nav-button' %>
          <% end %>
        </li>
        <li class="nav-item">
          <% if user_signed_in? %>
          <%= button_to "Log out", destroy_user_session_path, method: :delete, class: 'white-nav-button' %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path, class: 'white-nav-button'%>
          <% end %>
        </li>
        </li>
      </ul>
    </div>
  </div>
</div>


</div>
